body{
    margin: 0;
    padding: 0;
    background-color: white; 
}
*{
    margin: 0%;
    padding: 0%;
}
.ull{
    list-style-type: none;
    background-color: black;
    text-align: center;
    display: flex;
    margin-bottom: 0px;
    
    
}
.lii{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-decoration: none;
   
}
 a{
    text-decoration: none;
    color: white;
  
 } 
 a:hover {
    color:lightskyblue
 } 
 a:active{
    color: cyan;
 }
 
 
 
.bg{
    background-color:bisque;
}
.bgi{
    background-color:bisque;
}
.one {
    height: 200px;
    width: 200px;
    background-color: lightgrey;
  
}
.h1{
    text-align: center;
    margin-top: 25px;
}
.p2{
    text-align: center;
}
.r{
    text-align: right;
}
.i{
    font-style: italic;
   
}
.hh{
size: 0cap;
margin-left: 1;
}
.fa{
    height: 90px;
    width: 90px;
    padding: 25px;
    margin: 25px;
}

.set{
    background-color: bisque;

}
/* .bgl{
    background-color: bisque;
} */
.cone{
    background-color: bisque;
}
.ctwo{
    margin-top: 50px;
}
.nnn{
    background-color: bisque;;
    
}
.icon{
    height: 40px;
    width: 50px;
    margin-left: 15px;
    color: black;
    background-color: aquamarine;
    border-radius: 70%;
    padding: 10px;
}
hr{
    width: 40%;
    border-bottom: 2px solid red;
    margin-left: 65px;
    
}
.f{
    margin-left: 1%;
    color: blueviolet;
    height: 30px;
}
.b{
    width: 30%;
    margin-left: 30%;
}
.dd{
     margin-left: 25%; 
 
}
.cl{
    margin-left: 2%;
    color:blue
     
}
.fc{
    background-color: white;
    margin: 0px;
}
.login{
    margin-left: 2%;
    width: 10%;
}
.loginhr{
    width: 10%;
    border-bottom: 1px solid darkred;
    margin-left: 2px;
}

#icone{
    display: flex;
    
}
.emaili{
    margin: 10px;
    display: block;
    color: black;
    height: 5%;
    width: 5%;
    margin-left: 2%;
}
.pass{
    margin: 10px;
    display: block;
    color: black;
    height: 5%;
    width: 5%;
    margin-left: 2%;
}
input[type=email]:focus {
    box-shadow: none;
}
input[type=pass]:focus{
    box-shadow: none;
}
input[type=text]:focus {
    box-shadow: none;
}
.mm{
    border: none;
    border-bottom: 1px solid black;
    margin-left: 1px;
    
    
}
.buttons{
    width: 30%;
    margin-left: 30%;
}
.lable{
    margin-left: 2%;
    color: black;
}
.c{
    color: black;
}
.card{
    width: 50%;
}
.su{
    border: none;
    border-bottom: 1px solid black;
    margin-left: 30%;
    width: 40%;
    height: 50px !important;
    border-radius: 100px;
    
}
.btt{
    margin-left: 45%;
}
.Discount{
    background-color: rgba(151, 220, 236, 0.441);
   padding: 100px 0px 100px 0px;
    
}
.cd1{
    width: 400px !important;
}
.cd2{
    width: 400px !important;
    text-align: center;
    background-color: black;
}
.ih{
    height: 50px;
    width: 50px;
    color: white;
    margin: 20px;
}


.frm{
   /*  padding-left: 20px;
    padding-right: 10px; */
    padding: 0px 20px 0px 20px;
}
